
<!--Tablita con información de reporte uwu-->
<table id="tablita">
    <thead>
        <tr>
            <td>Número de reporte</td>
            <td>Número de socio</td>
            <td>Nombre</td>
            <td>Apellidos</td>
            <td>Fecha de ingreso</td>
            <td>Suscripción</td>
            <td>Estado de suscripción</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>001</td>
            <td>001</td>
            <td>Andy Jhoao</td>
            <td>Huacre Molina</td>
            <td>2021-06-23</td>
            <td>Anual</td>
            <td>Activo</td>
        </tr>
        <tr>
            <td>002</td>
            <td>002</td>
            <td>Andy Jhoao</td>
            <td>Huacre Molina</td>
            <td>2021-06-23</td>
            <td>Anual</td>
            <td>Activo</td>
        </tr>
    </tbody>
</table>

<!--Botón, acción imprimir PDF-->
<button (click)="imprimirPDF()">Imprimir</button>